* {
  background-color: rgb(243, 232, 255);
}
.app {
  font-family: monospace;
  text-align: center;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:green;
  text-align:center;
  transition: all 0.2s;
  background-color: white;
}

button:hover {
  color: #000000;
  background-color: rgb(129, 112, 148);
}

a {
  color:green;
  transition: all 0.2s;
}

a:hover {
  color: #000000;
  background-color: rgba(129, 112, 148, 0.2);
  box-shadow: 5px 5px;
}

.review {
  transition: all 0.2s;
}

.review:hover {
  box-shadow: rgb(76, 0, 160) 5px 5px 5px 5px;
}