*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.bar {
  border-color: rgb(76, 0, 160);
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.child {
  margin-right: auto;
}

.about {
  margin-left: auto;
}
